<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">

<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
<title>Cadastro de Produto</title>
</head>

<body>

	<nav class="navbar navbar-expand-lg navbar-dark bg-primary"
		style="padding: 10px 30px 10px 30px">
		<div class="container-fluid">
			<a class="navbar-brand" href="index.html"><em>#TudoDeBom</em></a>
			<button class="navbar-toggler" type="button"
				data-bs-toggle="collapse" data-bs-target="#navbarColor01"
				aria-controls="navbarColor01" aria-expanded="false"
				aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
		</div>
		<div class="collapse navbar-collapse" id="navbarColor01">
			<div class="container-fluid">
				<a class="navbar-brand" href="listarCliente.html"><em>Listar Clientes</em></a>
			</div>
			
			<div class="container-fluid">
				<a class="navbar-brand" href="formularioCliente.html"><em>Cadastrar Cliente</em></a>
			</div>
			<div class="container-fluid">
				<a class="navbar-brand" href="formularioProduto.html"><em>Cadastrar Produto</em></a>
			</div>
			<div class="container-fluid">
				<a class="navbar-brand" href="listarPedido.html"><em>Histórico de Transações</em></a>
			</div>
			<div class="container-fluid">
				<a class="navbar-brand" href="listarProduto.html"><em>Estoque</em></a>
			</div>
		</div>
		<div class="collapse navbar-collapse" id="navbarColor01">
			<ul class="navbar-nav me-auto">
				<li class="nav-item"><a class="btn btn-light my-2 my-sm-0"
					href="https://paulohenrique3140.github.io/sistema-farm-cia-bootstrap/index.html">Voltar <span class="visually-hidden">(current)</span>
				</a></li>
			</ul>
		</div>
	</nav>

	<div style="margin: 5% auto; display: flex; justify-content: center;">
		<form style="width: 50vw;" action="#" th:action="@{/crud/add}"
			th:object="${user}" method="post">
			<fieldset>
				<legend style="text-align: center;">Cadastro de Novo Pedido</legend>
				<div class="form-group">
					<label for="exampleInputEmail1" class="form-label mt-4">ID do Cliente</label>
					<input type="number" class="form-control" name="nome" id="nome"
						placeholder="Número de identificação do cliente" th:field="*{nome}">
				</div>
				<div class="form-group">
					<label for="exampleInputEmail1" class="form-label mt-4">Data do Pedido</label>
					<input type="date" class="form-control" name="dataPedido" id="dataPedi"
						placeholder="dd/mm/aaaa" th:field="*{dataPedido}">
				</div>
				
				<div class="form-group">
					<label for="exampleInputEmail1" class="form-label mt-4">Status</label><br>
					<select  class="form-control" name="statusPagamento" id="statusPagamento">
						<option value="" selected style="color: gray;">--Status do Pedido--</option>
						<option value="pagamentoPendente">Pagamento Pendente</option>
						<option value="transporte">Transporte</option>
						<option value="entregue">Entregue</option>
					</select>
				</div>
				
				<div class="form-group">
					<label for="exampleInputEmail1" class="form-label mt-4">Valor Bruto R$</label>
					<input type="number" class="form-control" name="valorBruto" id="valorBruto"
						placeholder="Exemplo: 1299.99" th:field="*{valorBruto}">
				</div>

				<div class="form-group">
					<label for="exampleInputEmail1" class="form-label mt-4">Valor Líquido R$</label>
					<input type="number" class="form-control" name="valorBruto" id="valorLiquido"
						placeholder="Exemplo: 1299.99" th:field="*{valorLiquido}">
				</div>
				
				<input type="submit" class="btn btn-lg btn-primary"
					style="margin: 20px 5% 0 10%; width: 40%;" value="Cadastrar"></input><a
					href="index.html" class="btn btn-lg btn-light"
					style="margin-top: 20px; width: 40%;">Cancelar</a>
			</fieldset>
		</form>
	</div>
<!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
</body>
</html>