<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="style.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600&display=swap" rel="stylesheet">
  <title>Tudo de Bom</title>
</head>
<body>
  <header>
    <em>
      <h1><em>Drogaria#TudoDeBom</em></h1>
    </em>
  </header>
 
  <main>
    <div>
      <h2>Clientes</h2>
      <ul>
        <li><a href="formularioCliente.html">Cadastrar clientes</a></li>
        <li><a href="listarCliente.html">Listar clientes</a></li>
        
      </ul>
    </div>
    <div>
      <h2>Produtos</h2>
      <ul>
        <li><a href="formularioProduto.html">Cadastrar Produto</a></li>
        <li><a href="listarProduto.html">Estoque</a></li>
      </ul>
    </div>
    <div>
      <h2>Pedidos</h2>
      <ul>
        <li><a href="formularioPedido.html">Cadastrar pedido</a></li>
        <li><a href="listarPedido.html">Histórico de transações</a></li>
      </ul>
    </div>
  </main>
</body>
</html>